<header class="profile-header" >
 <%= image_tag @user.profile_picture.detail.url :class => "profile-picture" %><br />

 <h1><%= @user.stage_name %> <%= image_tag("user-icon.png", width: 30) %></h1>
 <h2><em><%= @user.full_name %></em></h2>
 <strong>Age: <%= @user.age %></strong>
 <strong>Email: <%= @user.email %></strong>
 </header>

<ul>
  <%= render @user.songs %>
</ul>
