<li class="song large-3 medium-4 columns">
  <ul>
    <li><%= link_to image_tag(song.artwork.mobile.url), song %></li>
    <li><h3><%= song.title %></h3></li>
    <li><h4><%= song.user.stage_name %></h4></li>
    <li><%= raw song.tag_list.map { |t| link_to t, tag_path(t)}.first %></li>
    <li><%= link_to 'Edit', edit_song_path(song) %></li>
    <li><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</li>